.container {
  transform: translateY(25%);
}
.logo {
  position: absolute;
  top: -10%;
  left: 5%;
  color: rgb(255, 245, 245);
  font-size: 300px;
  z-index: -1;
  text-shadow: 0 0 3px #171c30;
}
.boll {
  width: 100%;
  height: 200vh;
  border-radius: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #dbf4ff 60%,
    #2f5cff 70%,
    #000000 100%
  );
  position: relative;
}
.boll::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #b0ddf0 60%,
    #3d66fae8 70%,
    #022ab9 100%
  );
  border: 100px solid rgb(0, 60, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: 1;
  opacity: 50%;
}
