.container {
  display: flex;
  align-items: center;
}
.boll {
  background-color: red;
  width: 100%;
  height: 190vh;
  border-radius: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #dbf4ff 60%,
    #2f5cff83 70%,
    #09185071 100%
  );
  position: relative;
}
.boll::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #b0ddf0 60%,
    #3d66fae8 70%,
    #022ab9 100%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: 1;
  opacity: 50%;
}
